{% extends 'base.html' %}

{% block title %} {{ super() }} - Main {% endblock %}

{% block content %}

<table class="table table-striped table-sm table-hover">
    <thead>
    <tr>
        <th scope="col" text-align="center">Tipo Anuncio</th>
        <th scope="col">Usuario</th>
        <th scope="col">Tipo Café</th>
        <th scope="col">Quantidade Sacas</th>
        <th scope="col">Data</th>
        {%if profile==True%}
        <th scope="col">AJUDA PRA KRL</th>
        {%endif%}
    </tr>
    </thead>
    <tbody>

    {% for l in all_lines %}

    {% if l.post_active == 1 or (profile == True and l.post_active == 0) %}
        {% if l.post_type == 1 and l.post_active == 1 %}
    <tr class="table-success">
        {% elif l.post_active == 0 %}
    <tr class="table-danger">
        {% else %}
    <tr class="table-primary">
        {% endif %}

        {% if l.post_type == 1 %}
        <td text-align="center">Compra</td>
        {% else %}
        <td text-align="center">Venda</td>
        {% endif %}

        <td><a href="/user/{{l.post_username}}">{{l.post_username}}</a></td>

        {% if l.post_coffe_type == 1%}
        <td>Arábica Ruim</td>
        {% elif l.post_coffe_type == 2%}
        <td>Arábica Boa</td>
        {% else %}
        <td>Conillon</td>

        {% endif %}
        <td>{{l.post_qtd_sacas}}</td>
        <td>{{l.post_date.strftime("%d/%m/%Y")}}</td>
        {%if profile==True%}
        <td><a href="/del_announce/{{l.post_id}}">Excluir</a>/<a href="/finish_announce/{{l.post_id}}">Concluir</a></td>
        {%endif%}
    </tr>
    {%endif%}
    {% endfor %}


    <caption>
        Para pegar os contatos com o dono do anuncio clique em seu nome
    </caption>

</table>
{% endblock %}
