<!doctype html>
<html lang="pt-br">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <title>{% block title %} Café {% endblock %}</title>
</head>
<body>
<style>
html, body { height: 100%; margin: 0; }
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4FF8A; font-size: 15px !important;">
  <div class="container-fluid">
    <a class="navbar-brand nav-item" href="/">
      <img src="https://images.vexels.com/media/users/3/185520/isolated/preview/aae89bde5310bbc00a8f077465bfb22f-grao-de-cafe-marrom.png" width="40" height="40" class="rounded-circle">
      <t>APP DO CAFÉ</t>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <a class="nav-link active" aria-current="page" href="/index">Home</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/announces">Anúncios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Informações sobre café
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/infocafe/arabica_ruim">Arábica ruim</a></li>
            <li><a class="dropdown-item" href="/infocafe/arabica_bom">Arábica boa</a></li>
            <li><a class="dropdown-item" href="/infocafe/conillon">Conillon</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/infocafe/geral">Geral</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobreAPI">Nossa API</a>
        </li>
      </ul>
        {% if current_user.is_authenticated %}
        <ul class="nav mb-lg-0 justify-content-xxl-start">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ current_user.avatar(128) }}" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="navbarDropdown2">
          <li><a class="dropdown-item" href="/user/{{current_user.name}}">Dashboard</a></li>
          <li><a class="dropdown-item" href="/new_annouce">Criar Anuncio</a></li>
          <li><a class="dropdown-item" href="/my_annouce">Meus Anuncios</a></li>
          <li><a class="dropdown-item" href="/edit_profile">Edit Profile</a></li>
          <li><a class="dropdown-item" href="/logout">Log Out</a></li>
          </ul>
        </li>
        </ul>
        {% else %}
        <ul class="nav mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li>
          <a type="button" class="btn btn-primary btn-lg" href="register">Registre-se</a>
        </li>
        </ul>
        {% endif %}
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<div class="container", style="position: absolute; z-index: 5; left: 10px; right: 10px; margin-left: auto; margin-right: auto; width: auto; padding: 0; margin-top: 5px">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <span>{{ message }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

{% endif %}
{% endwith %}
</div>
{% block content %}
{% endblock %}

</body>
</html>