{% extends 'base.html' %}

{% block title %} {{ super() }} - Grafico {% endblock %}

{% block content %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js'></script>


<canvas id="myChart"></canvas>
<script>
    let labels = [{% for item in labels %}
    "{{item}}",
    {% endfor %}]

    let ctx = document.getElementById('myChart');
    let myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets:[
                {% for i in range(types|length) %}
                {
                    label: 'Preço {{types[i]}}',
                    fill: false,
                    borderColor: "{{colors[i]}}",
                    lineTension: 0.1,
                    data:   [{% for item in values[i] %}
                            {{item}},
                            {% endfor %}]
                }{%if i <= types|length - 1 %},{% endif %}
                {% endfor %}
            ]
        },
        options: {
            responsive: true,
            elements: {
                point:{
                    radius: 0
                }
            }
        }
    });
</script>

{% endblock %}