{% extends 'base.html' %}

{% block title %} {{ super() }} - Edit {% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ current_user.avatar(128) }}"><span class="font-weight-bold">{{user.username}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <form action="" method="POST">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Edit profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label>{{form.name(class="form-control", placeholder=user.name)}}</div>
                    <div class="col-md-6"><label class="labels">Username</label>{{form.username(class="form-control", placeholder=user.username)}}</div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Mobile Number</label>
                        <div class="input-group">
                        <div class="input-group-text">+55 027</div>
                            {{form.phone(class="form-control", placeholder=user.phone[7:])}}
                        </div>
                    </div>
                    <div class="col-md-6"><label class="labels">Email ID</label>{{form.email(class="form-control", placeholder=user.email)}}</div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Password</label>{{form.password(class="form-control")}}</div>
                    <div class="col-md-6"><label class="labels">Confirm Password</label>{{form.confirm(class="form-control")}}</div>
                </div>
                <div class="mt-5 text-center">{{form.submit(class="btn btn-primary")}}</div>
            </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}